.col-md-10 {
    float: right;
}
.col-md-6 {
    float: right;
}
.col-md-4 {
    float: right;
}
.col-md-2 {
    float: right;
}
.alignselect {
    direction: rtl;
    float: right;
}
    /*arrows left to right  اي سهم مشاور يمين يبقي شمال و العكس */
    .kode_event_ticket{
    float : right;
}

.navigation > ul > li > ul > li a {
    display: block;
    padding: 9px 20px;
    text-align: right !important;
    position: relative;
    z-index: 999;
    font-weight: 300;
}
.ulSalah{
    padding-right:100px ;
}
.kode_newsletter_form .kf_commet_field input{
    float:none;
}
.kode_top_right_text{
    float:left;
}
.kode_event_detail li:last-child {
    display: inline-flex;
}
.event_date{
    position : unset;
}